.search-address {
  padding: 10px;
  width: 800px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.get-feedbacktype {
  padding: 10px;
  width: 500px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search-title {
  width: 200px;
}
.search-button {
  width: 130px;
}
.feedbacktype-result {
  width: 500px;
  padding-top: 20px;
  padding-left: 20px;
}
.feedback-example {
  width: 900px;
  padding: 20px;
}
.search-address-language {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  width: 800px;
}
.hide {
  display: none !important;
}
input {
  width: 500px !important;
}